## Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.log

## Virtual environments
venv/
.venv/

## Environment files
.env
.env.*

## IDE/editor
.vscode/
.idea/

## Tests/Coverage
.pytest_cache/
.coverage
htmlcov/

## OS junk
.DS_Store
Thumbs.db

## Databases
*.sqlite
*.db
